*{
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    padding: 0;
    margin: 0;

}

h1{
    padding-top: 2rem;
    text-align: center;
}

/* color pages */
.page-1{
    background-color: burlywood;
}

.page-2{
    background-color: azure;
}

/* getting to the midle using flexbox */

main{
    display: flex;
    flex-direction: column;
}


/* a tag to right using div container */
.button-container {
    width: 100%;
    text-align: right;
    margin: auto 0;
}

/* transform a tag to button */
a {
    border-style: solid ;
    border-color: rgb(111, 113, 113);
    border-radius: 1rem;
    background-color: rgb(243, 237, 237);
    font-size: large;
    color: black;
    margin-right: 1rem;
    padding: 1rem 1.5rem;
    text-decoration: none
}

a:hover{
    background-color: rgb(146, 140, 140);
}



/* get span bold  */

p{
    padding: 1rem;
}

.bold{
    font-weight: bold;
}